algorithm/*
!algorithm/*.cpp
!algorithm/*.c

programing/multiThreadServer/server/*
!programing/multiThreadServer/server/*.c
programing/multiThreadServer/client/*
!programing/multiThreadServer/client/*.c

