algorithm/exercise/*
!algorithm/exercise/*.cpp
!algorithm/exercise/*.c

programing/multiThreadServer/server/*
!programing/multiThreadServer/server/*.c
programing/multiThreadServer/client/*
!programing/multiThreadServer/client/*.c

programing/webExample/*
!programing/webExample/models
!programing/webExample/public
programing/webExample/public/images
!programing/webExample/routes
!programing/webExample/views
!programing/webExample/*.js

programing/webExample2(advanced)/backend/node_modules
programing/webExample2(advanced)/frontend/node_modules




