doctype html
html
  head
    title= 'WEBEXAMPLE'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/insertmovie") Create Movie
      li
        a(href="/searchprestep") Serch Movie

    block content
